@use "@/styles/abstracts/variables" as *;

/* Block */
.spinner {
  @apply flex flex-col items-center;
}

/* Element */
.spinner__icon {
  @apply w-10 h-10 border-4 border-solid border-gray-300 border-b-red-500 rounded-full animate-spin;
}

/* Modifier */
.spinner__icon--sm {
  @apply w-4 h-4 border-2;
}

.spinner__icon--md {
  @apply w-6 h-6 border-4;
}

.spinner__icon--lg {
  @apply w-10 h-10 border-4;
}

/* Loading text */
.spinner__text {
  @apply mt-2 text-gray-600 text-sm;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
